.home-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe al menos toda la pantalla */
}

.main-content {
  flex: 1; /* Esto hace que el contenido principal crezca y empuje el footer hacia abajo */
  background-color: var(--bg-color);
}
