.admin-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-body {
  display: flex;
  flex: 1; /* Ocupa el espacio entre cabecera y footer */
}

.admin-content {
  margin-left: 250px; /* Ancho del sidebar */
  padding: 2rem;
  width: calc(100% - 250px);
  background-color: var(--bg-color);
}
