.login-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/olivoArenaNoche.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.98); /* Un poco más opaco para mejorar legibilidad */
  backdrop-filter: blur(8px);
}

.login-card .form-label {
  color: var(--text-color);
}

/* Ajustes para el icono de visibilidad de contraseña */
.input-group .custom-input {
  border-right: none;
}

.input-group .custom-input:focus {
  z-index: 3; /* Asegura que el box-shadow se vea completo */
}

.input-group-text {
  background-color: white;
  border: 1px solid var(--input-border-color);
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.input-group .custom-input.is-invalid + .input-group-text,
.input-group .custom-input.ng-invalid.ng-touched + .input-group-text {
  border-color: var(--error-color);
}

.icon-size {
  font-size: 24px; /* Tamaño estándar de icono */
  color: #6c757d;
}
